body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100vh;
  background-image: url('market.jpg'); /* Replace 'background-image.jpg' with the path to your image */
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  max-width: 250px; /* Adjust the value as desired */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #364b46;
}

.container h2 {
  text-align: center;
}

.container label {
  font-weight: bold;
}

.container input[type=text],
.container input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.container button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.container button:hover {
  opacity: 0.8;
}

.container .links {
  margin-top: 10px;
  text-align: center;
}

.container .links a {
  color: #0000FF;
  text-decoration: none;
}

.container .links a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
}

.navbar {
  background-color: none;
  padding: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 10px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 5px;
}

.navbar li {
  display: inline-block;
  margin-left: 10px;
}

.navbar li a {
  text-decoration: none;
  color: white;
}

h1 {
  position: absolute;
  top: 0;
  left: 40%;
  transform: translateX(-50%);
  color: red);
}
